@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 sidebar">
        <div class="list-group" style="margin:0px -25px;">

            <a class="list-group-item" href="javascript:void(0);" data-toggle="modal" data-target="#addModal">
                <h4 class="list-group-item-heading"><i class="fa fa-plus-square-o fa-lg"></i> Create a New Order</h4>
            </a>

            @foreach (var order in ViewBag.Orders as List<aulease.Entities.Order>)
            {
                <a href="javascript:detail(@order.Id)" id="@order.Id" class="list-group-item">
                    <h4 class="list-group-item-heading"><span id="@{@String.Format("checkmark{0}", order.Id)}" class="hidden"><i class="fa fa-check"></i></span>
                        @order.User.GID <small>
                        @if (order.SystemGroups.FirstOrDefault().GetPrimaryLease().Component.Type != null && order.SystemGroups.FirstOrDefault().GetPrimaryLease().Component.Type.Name != "Monitor")
                        {
                            if (order.SystemGroups.FirstOrDefault().GetPrimaryLease().Component.Type.Name == "Laptop")
                            {
                                <i class="fa fa-laptop"></i>
                            }
                            else
                            {
                                <i class="fa fa-hdd-o"></i>
                            }
                        }

                        @for (int i = 0; i < order.SystemGroups.FirstOrDefault().GetMonitors().Count(); i++)
                        {
                            <i class="fa fa-desktop"></i>
                        }
                    </small>
                </h4>
                <p class="list-group-item-text">
                    @if (order.SystemGroups.FirstOrDefault().ToString().Length > 0)
                    {
                        @String.Format("{0} x {1}", order.SystemGroups.Count, order.SystemGroups.FirstOrDefault().ToString());
                    }
                    else
                    {
                        @String.Format("No Configuration");
                    }
            </p>
        </a>
            }
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main hidden" id="cart" style="background-color:black;">
        <div class="col-lg-1">
            <i class="fa fa-shopping-cart fa-inverse fa-2x fa-fw"></i>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <input type="number" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Auto-Generate</button>
                </span>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
        <div id="details">

        </div>
    </div>
</div>

<div id="changeConfigurationModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Order Configuration</h4>
            </div>
            <div class="modal-body">
                <div id="changeConfigurationContent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function detail(Id) {
        $(".active").removeClass("active");
        $("#" + Id).addClass("active");

        $.ajax({
            url: "@Url.Action("OrderDetails", "NewOrders")",
            data: { id: Id },
        cache: false,
        type: "POST",
        dataType: "html",
        success: function (data, textStatus, XMLHttpRequest) {
            SetData(data);
            CheckAddCartButton(Id);
        }
    });
    }

    function SetData(data) {
        $("#details").html(data);
    }

    function systemDetail(Id) {
        $("#details .info").removeClass("info");
        $("#" + Id).addClass("info");

        $.ajax({
            url: "@Url.Action("SystemDetails", "NewOrders")",
            data: { id: Id },
        cache: false,
        type: "POST",
        dataType: "html",
        success: function (data, textStatus, XMLHttpRequest) {
            SetSystemDetails(data);

            $('html, body').animate({
                scrollTop: $(document).height() - $(window).height()
            },
            500,
            "swing"
            );
        }
    });
    }

    function SetSystemDetails(data) {
        $("#SystemDetails").html(data);
    }

    function CheckAddCartButton(Id) {
        if (window.orderArray == undefined || window.orderArray.length == 0) {
            return;
        }

        if (window.orderArray.indexOf(Id) > -1)
        {
            $("#addToCart").html("Added");
            $("#addToCart").attr('disabled', 'disabled');
        }
    }

    function AddSRCart(Id) {
        $("#cart").removeClass('hidden');
        if (window.orderArray == undefined)
        {
            window.orderArray = new Array();
        }
        window.orderArray.push(Id);

        CheckAddCartButton(Id);
        $("#checkmark" + Id).removeClass("hidden");
    }

    function changeConfiguration(Id) {
        $("#changeConfigurationModal").modal('show');

        $("#changeConfigurationContent").html('<i class="fa fa-spinner fa-spin"></i> Loading');

        $.ajax({
            url: "@Url.Action("ChangeConfiguration", "NewOrders")",
            data: { id: Id },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                $("#changeConfigurationContent").html(data);
            }
        });
    }
</script>